
*{
    margin: 0;
    font-family: Trebuchet MS, sans-serif;
}

body, html{
    height: 100%;
    margin:0;
}

.bg{
    /* background-image: url(ramen2.jpg); */
    /* opacity: 0.6; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg::after{
    content: "";
    background: 
    linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.1)
        ),
    url(ramen2.jpg);

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

body nav{
    background-color: white;
    /* padding: 3%; */
}

.navbar{
    font-size: 25px;
    list-style-type: none;
    padding: 3%;
    padding-bottom: 5%;
}

a{
    text-decoration: none;
    color:black;
}

li{
    padding-left: 3%;
    padding-right: 3%;
}

.left{
    float: left;
}

.right{
    float: right;
}

body h1{
    margin:0;
    padding:0;
    display: block;
    font-size: 150px;
    text-align: center;
    color:white;
    margin-top: 15%;
}

