*{
    margin: 0;
    font-family: Trebuchet MS, sans-serif;
}

body, html{
    height: 100%;
    margin:0;
}

body nav{
    background-color: white;
    box-shadow: 0 8px 8px -4px rgb(120, 121, 177);
}

.navbar{
    font-size: 25px;
    list-style-type: none;
    padding: 3%;
    padding-bottom: 5%;
}

a{
    text-decoration: none;
    color:black;
}

.bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -15%;
}

.bg::after{
    content: "";
    background: 
    linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.1)
        ),
    url(japan.jpg);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

a:hover{
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 5px;
    text-underline-offset: 5.7vh;
}

li{
    padding-left: 3%;
    padding-right: 3%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.top-side{
    text-align: center;
    color: white;
    /* padding-bottom: 100px; */
}

.menu{
    text-align: center;
}

.dishes{
    color:black;
    text-align: center;
}

.dishes h2{
    font-size: 5vh;
    padding-top: 3%;
    font-family: 'Lobster', cursive;
}

.dishes h3{
    font-size: 2vh;
}

.dishes p{
    font-family: 'Fjalla One', sans-serif;
    padding-top: 1%;
}

.dishes h3:hover{
    text-decoration: underline;
    text-decoration-color: pink;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.bottom-side{
    margin-top: 50px;
    background-color: black;
    width: 100%;
    height: 20vh;
}

.add{
    display: inline-block;
    margin: 0;
    position: fixed;
    left:-20px;
    top:50%;
    /* height: 8vh; */
    transform: rotate(90deg);
    color:black;
}

.slider{
    position: fixed;
    display: block;
    width: 41vh;
    height: 60vh;
    left:-42vh;
    top:25%;
    color:black;
    transition: 0.5s ease-in-out;
    background-color: white;
    box-shadow: 1vh 1vh 1vh pink;
}

.add h1{
    background-color: pink;
    border-radius: 5px;
    border: solid black 2px;
}

.add:hover + .slider{
    transform: translateX(100%);
}

.slider:hover{
    transform: translateX(100%);
}

.slider div{
    text-align: center;
    padding: 10%;
}

.slider p{
    font-family: 'Fjalla One', sans-serif;
    padding: 3%;
    font-size: 2vh;
}

.slider h2{
    font-size: 3vh;
    font-family: 'Lobster', cursive;
}

.button_drinks button{
    background-color: white;
    border: none;
    font-family: 'Lobster', cursive;
    position:absolute;
    width:40vh;
    right:8vh;
    top:108vh;
    font-size:3vh;
    cursor: pointer;
    border-radius: 5px;
}

.button_drinks button:hover{
    background-color: pink;
    transition: 1s ease-in-out;

}


#slider_drinks{
    visibility: visible;
    width: 40vh;
    /* height: 50vh; */
    background-color: white;
    box-shadow: 1vh 1vh 1vh 1vh pink;
    text-align: center;
    position:absolute;
    right:8vh;
    top:113vh;
}

#drinks_back{
    visibility: hidden;
    width: 40vh;
    /* height: 50vh; */
    background-color: white;
    box-shadow: 1vh 1vh 1vh 1vh pink;
    text-align: center;
    position:absolute;
    right:8vh;
    top:113vh;

}

#slider_drinks p{
    padding: 2%;
}

#slider_drinks h2{
    padding: 2%;
}

#drinks_back p{
    padding: 2%;
}

#drinks_back h2{
    padding: 2%;
}


